@use "../../../assets/variables.scss";

:host {
    flex: 1;
}

.market-data-cards {
    display: flex;
    gap: variables.$spacing-l;
    padding-top: variables.$spacing-xl;
    padding-bottom: variables.$spacing-xl;
    padding-left: variables.$spacing-screen-xl;
    padding-right: variables.$spacing-screen-xl;

    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }

    app-market-data-card {
        flex: 1;
        overflow: hidden;

        .translucent {
            opacity: 0.3;
            position: relative;
            .translucent .text {
                z-index: 2;
                position: absolute;
                //top: 50%;
            }
        }
    }
}

.apr-cards {
    display: flex;
    padding-bottom: variables.$spacing-m;
    padding-left: calc(variables.$spacing-screen-xl - 0.75em);
    padding-right: calc(variables.$spacing-screen-xl - 0.75em);

    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }

    app-apr-card {
        flex: 1;
    }
}

@media only screen and (max-width: 2000px) {
    .market-data-cards {
        padding-left: variables.$spacing-screen-l;
        padding-right: variables.$spacing-screen-l;
    }

    .apr-cards {
        padding-left: calc(variables.$spacing-screen-l - 0.75em);
        padding-right: calc(variables.$spacing-screen-l - 0.75em);
    }
}

@media only screen and (max-width: 1800px) {
    .market-data-cards {
        padding-left: variables.$spacing-screen-m;
        padding-right: variables.$spacing-screen-m;
    }

    .apr-cards {
        padding-left: calc(variables.$spacing-screen-m - 0.75em);
        padding-right: calc(variables.$spacing-screen-m - 0.75em);
    }
}

@media only screen and (max-width: 1400px) {
    .market-data-cards {
        app-market-data-card {
            flex: none;
        }
    }
}

@media only screen and (max-width: 800px) {
    .market-data-cards {
        padding-left: variables.$spacing-screen-s;
        padding-right: variables.$spacing-screen-s;
        app-market-data-card {
            flex: none;
        }
    }

    .apr-cards {
        padding-left: calc(variables.$spacing-screen-s - 0.75em);
        padding-right: calc(variables.$spacing-screen-s - 0.75em);
        padding-bottom: variables.$spacing-xxl;
    }
}
