@use "../../../../assets/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, variables.$primary-grey, #1e1e1e, variables.$primary-grey);
    border-radius: variables.$radius-m;
    filter: drop-shadow(0 0 0.1em #0000001c);
    overflow: hidden;
    border: 1px solid variables.$border-green;
}