<div class="basic-card">
    <div class="title-container text-glow-white">
        <div class="title">Delegators</div>
        <div class="title-icon" [innerHTML]="'1F91D' | twemoji"></div>
        <div class="count-and-search">
            <div class="count">{{delegators?.length ?? 0}} in total</div>
            <app-search-bar *ngIf="hasDelegators" class="search-bar" (search)="onSearch($event)"
                (clear)="onClearSearch()"></app-search-bar>
            <fa-icon *ngIf="hasDelegators" (click)="onDownloadSelected()" [icon]="faDownload"
                matTooltip='Export as CSV'></fa-icon>
        </div>
    </div>
    <app-search-bar class="mobile-search-bar" *ngIf="hasDelegators" (search)="onSearch($event)"
        (clear)="onClearSearch()"></app-search-bar>
    <div class="divider"></div>
    <div class="table-content" *ngIf="hasDelegators">
        <div class="table-empty-text" *ngIf="!isLoading && !hasResults">End of results.</div>
        <div class="table-container" *ngIf="hasResults" [class.table-container--loading]="isLoading"
            [class.table-container--hidden]="!hasResults">
            <table mat-table [dataSource]="dataSource" fixedLayout="true" class="mat-elevation-z0">
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>Address</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="address-cell">
                            <div [routerLink]="['/accounts', row.address]">{{row.address | middleEllipsis}}</div>
                            <div class="info-text" *ngIf="row.isSelfDelegation">Pillar self-delegation</div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delegationAmount">
                    <th mat-header-cell *matHeaderCellDef>Weight (ZNN)</th>
                    <td mat-cell *matCellDef="let row">{{row.delegationAmount | number: '1.2-2'}}</td>
                </ng-container>

                <ng-container matColumnDef="share">
                    <th mat-header-cell *matHeaderCellDef>Share</th>
                    <td mat-cell *matCellDef="let row"> {{row.share | number: '1.2-2'}}%</td>
                </ng-container>

                <ng-container matColumnDef="delegationStartTimestamp">
                    <th mat-header-cell *matHeaderCellDef>Delegation start</th>
                    <td mat-cell *matCellDef="let row"> {{row.delegationStartTimestamp * 1000 | date:'MM/dd/yy h:mm a'}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>
    </div>
    <app-loader class="loader" *ngIf="isLoading && !hasDelegators"></app-loader>
    <div class="table-empty-text" *ngIf="!isLoading && !hasDelegators">The Pillar has no delegators.</div>
    <div class="divider" *ngIf="hasDelegators"></div>
    <app-page-selector class="page-selector" *ngIf="hasDelegators" [hidePreviousBtn]="activePage === 1"
        [hideNextBtn]="dataSource.data.length < itemsPerPage" (selectNext)="onNextSelected()"
        (selectPrevious)="onPreviousSelected()">
    </app-page-selector>
</div>