@use "../../../../assets/variables.scss";
@use "../../../../assets/styles/components.scss";

.basic-card {
    width: variables.$content-width-basic;

    .title-container {

        .title-icon {
            height: 1.4rem;
            width: 1.4rem;
        }

        .count-and-search {
            display: flex;
            align-items: center;
            gap: variables.$spacing-m;
            margin-left: auto;

            .count {
                font-size: variables.$font-s;
                color: variables.$white-70;
                flex: 1;
                text-align: end;
            }
        }

        fa-icon {
            opacity: 0.7;

            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    .mobile-search-bar {
        display: none;
    }

    .table-container {
        &--hidden {
            display: none;
        }

        &--loading {
            opacity: 0;
        }
    }

    .mat-table {
        min-width: variables.$content-width-basic;
        max-width: variables.$content-width-basic;
        border-radius: 0;
        border: 0px;
    }

    .mat-column-address {
        width: 16rem;
        padding-left: calc(4rem - 24px) !important;
    }

    .mat-column-share {
        width: 6rem;
    }

    .address-cell {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-xs;

        div {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;

            &:hover {
                cursor: pointer;
                color: white;
            }
        }

        .info-text {
            color: variables.$primary-green;
            font-size: variables.$font-xs;
            font-weight: normal;
        }
    }

    .page-selector {
        margin-left: variables.$spacing-xl;
        margin-right: variables.$spacing-xl;
    }
}

.loader {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    align-self: center;
}

@media only screen and (max-width: variables.$screen-width-threshold) {
    .basic-card {
        width: calc(99.5vw - 2rem);
        margin-bottom: variables.$spacing-xxl;

        .title-container {
            padding: variables.$spacing-l variables.$spacing-l variables.$spacing-m variables.$spacing-l;
            min-height: 1.4rem;

            .count-and-search {
                .search-bar {
                    display: none;
                }
            }
        }

        .mobile-search-bar {
            display: inline;
            margin: 0 variables.$spacing-l variables.$spacing-m variables.$spacing-l;
        }

        .page-selector {
            margin-left: variables.$spacing-l;
            margin-right: variables.$spacing-l;
        }

        .mat-table {
            min-width: 100%;
            max-width: 100%;
        }

        .mat-column-address {
            padding-right: 2rem !important;
            max-width: none;
            padding-left: calc(3.4rem - 24px) !important;
        }

        .mat-column-delegationAmount {
            padding-right: 2rem !important;
            max-width: none;
        }

        .mat-column-share {
            padding-right: 2rem !important;
            max-width: none;
        }

        .mat-column-delegationStartTimestamp {
            padding-right: 2rem !important;
            max-width: none;
        }
    }
}
