@use "../../../../assets/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    background-color: variables.$tertiary-grey;
    border-radius: variables.$radius-m; 
    justify-content: center;
    filter: drop-shadow(0 0 0.8em #00000040);
    border: 1px solid variables.$border-green;
}

@media only screen and (max-width: variables.$screen-width-threshold) {
    .container {
        gap: variables.$spacing-l;
    }
}
