<app-basic-container>
    <div class="basic-info">
        <div class="header">
            <div class="card-title text-glow-white">{{ name }}</div>
            <div class="info-chips">
                <app-project-status-chip *ngIf="isNew" [isNew]="true">
                </app-project-status-chip>
                <app-project-status-chip *ngIf="isPhase" [isPhase]="isPhase">
                </app-project-status-chip>
                <app-project-status-chip [status]="status">
                </app-project-status-chip>
            </div>
        </div>
        <div class="description">{{ description }}</div>
    </div>
    <div *ngIf="statusCardState !== 0" class="status-card" (click)="onStatusCardPressed(statusCardState)"
        [ngStyle]="{'background': 'linear-gradient(45deg, ' + statusCardGradientStart + ', ' + statusCardGradientEnd + ')'}">
        <div class="label-container">
            <div class="subtitle-icon" [innerHTML]="statusCardIconHex | twemoji"></div>
            <div>{{ statusCardText }}</div>
        </div>
        <div *ngIf="statusCardState === 2" class="action-btn">
            <div>View Phases</div>
            <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
    </div>
    <app-info-card class="info-card funding-status" *ngIf="znnFundsReceived > 0 || qsrFundsReceived > 0" [infoItems]="[
        {label: 'ZNN funds received', value: (znnFundsReceived / coinDecimals | number: '1.0') + ' ZNN (' + ((znnFundsReceived / znnFundsNeeded) * 100 | number: '1.0-1') + '%)'},
        {label: 'QSR funds received', value: (qsrFundsReceived / coinDecimals | number: '1.0') + ' QSR (' + ((qsrFundsReceived / qsrFundsNeeded) * 100 | number: '1.0-1') + '%)'},
        ]">
    </app-info-card>
    <app-info-card class="info-card" [infoItems]="[
        {label: 'Funding needed', value: (znnFundsNeeded / coinDecimals | number: '1.0') + ' ZNN + ' + (qsrFundsNeeded / coinDecimals | number: '1.0') + ' QSR'},
        {label: 'Proposal URL', value: url | middleEllipsis, fullValue: url, hoverText: url, isExternalLink: true},
        {label: 'Created', value: (creationTimestamp * 1000 | date: 'MM/dd/yy h:mm a') ?? ''},
        isPhase ?
                {label: 'Phase ID', value: phaseId | middleEllipsis, fullValue: phaseId, hoverText: phaseId, isCopyable: true} :
                {label: 'Last updated', value: (lastUpdateTimestamp * 1000 | date: 'MM/dd/yy h:mm a') ?? ''},
        isPhase ?
                {} :
                {label: 'Onwer address', value: owner | middleEllipsis, fullValue: owner, hoverText: owner, routerLink: ['/accounts', owner]},
        isPhase ?
                {} :
                {label: 'Project ID', value: projectId | middleEllipsis, fullValue: projectId, hoverText: projectId, isCopyable: true},
        ]">
    </app-info-card>
    <div class="voting-container">
        <div class="title-line">
            <div class="subtitle-container">
                <div class="subtitle text-glow-white">Votes</div>
            </div>
            <div class="voting-status-container">
                <div class="blinker-dot" *ngIf="showVotingDot && status === 0"></div>
                <div class="voting-status-text">
                    {{ votingStatusText }}
                </div>
            </div>
        </div>
        <div class="voting-info-container">
            <app-vote-breakdown-card [yesVotes]="yesVotes" [noVotes]="noVotes" [totalVotes]="totalVotes"
                [proposalStatus]="status">
            </app-vote-breakdown-card>
        </div>
        <div class="vote-table-container">
            <app-divider></app-divider>
            <div class="toggle-votes" (click)="onToggleVotesPressed()">
                <div *ngIf="!showVotes">Show votes</div>
                <div *ngIf="showVotes">Hide votes</div>
                <fa-icon class="caret-down" [icon]="faChevronDown" [class.caret-down--rotate]="showVotes">
                </fa-icon>
            </div>
            <div class="table-container" [class.table-container--visible]="showVotes">
                <table mat-table [dataSource]="dataSource" fixedLayout="true" class="mat-elevation-z0">
                    <ng-container matColumnDef="pillar">
                        <th mat-header-cell *matHeaderCellDef>Pillar</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.pillarName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="vote">
                        <th mat-header-cell *matHeaderCellDef>Vote</th>
                        <td mat-cell *matCellDef="let row">
                            <div class="vote-cell">
                                <div [innerHTML]="row.voteIconHex | twemoji"></div>
                                <div>{{row.vote}}</div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="timestamp">
                        <th mat-header-cell *matHeaderCellDef>Timestamp</th>
                        <td mat-cell *matCellDef="let row"> {{row.timestamp * 1000 | date: 'MM/dd/yy h:mm a'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [routerLink]="['/pillars', row.pillarName]">
                    </tr>
                </table>
            </div>
        </div>
    </div>
</app-basic-container>