<div class="card">
    <div class="basic-info">
        <div class="title-container">
            <div class="card-title text-glow-white">{{ name }}</div>
            <div class="info-chips">
                <app-project-status-chip *ngIf="isPhase" [isPhase]="isPhase" class="phase-chip">
                </app-project-status-chip>
                <app-project-status-chip [status]="status">
                </app-project-status-chip>
            </div>
        </div>
        <div class="description">{{ description }}</div>
    </div>
    <div *ngIf="statusCardState !== 0" class="status-card" (click)="onStatusCardPressed(statusCardState)"
        [ngStyle]="{'background': 'linear-gradient(45deg, ' + statusCardGradientStart + ', ' + statusCardGradientEnd + ')'}">
        <div class="label-container">
            <div class="subtitle-icon" [innerHTML]="statusCardIconHex | twemoji"></div>
            <div>{{ statusCardText }}</div>
        </div>
        <div *ngIf="statusCardState === 2" class="action-btn">
            <div>View Phases</div>
            <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
    </div>
    <div class="info-card funding-status" *ngIf="znnFundsReceived > 0 || qsrFundsReceived > 0">
        <div class="info-card-line">
            <div class="info-card-line-cell">
                <div class="label">ZNN funds received</div>
                <div class="value">{{ znnFundsReceived / coinDecimals | number: '1.0' }} ZNN ({{ (znnFundsReceived /
                    znnFundsNeeded) * 100 | number: '1.0-1' }}%)</div>
            </div>
            <div class="info-card-line-cell">
                <div class="label">QSR funds received</div>
                <div class="value">
                    {{ qsrFundsReceived / coinDecimals | number: '1.0' }} QSR ({{ (qsrFundsReceived /
                    qsrFundsNeeded) * 100 | number: '1.0-1' }}%)
                </div>
            </div>
        </div>
    </div>
    <div class="info-card">
        <div class="info-card-line">
            <div class="info-card-line-cell">
                <div class="label">Funding needed</div>
                <div class="value">{{ znnFundsNeeded / coinDecimals | number: '1.0' }} ZNN + {{
                    qsrFundsNeeded / coinDecimals | number: '1.0' }} QSR</div>
            </div>
            <div class="info-card-line-cell">
                <div class="label">Proposal URL</div>
                <div class="value" [matTooltipClass]="'tool-tip'" matTooltip={{url}}>
                    <a target="_blank" rel="noopener noreferrer" style="text-decoration: none;" href={{url}}>
                        {{ url | middleEllipsis }} <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="info-card-line">
            <div class="info-card-line-cell">
                <div class="label">Created</div>
                <div class="value">{{creationTimestamp * 1000 | date:'MM/dd/yy h:mm a'}}</div>
            </div>
            <div class="info-card-line-cell" *ngIf="!isPhase">
                <div class="label">Last updated</div>
                <div class="value">{{lastUpdateTimestamp * 1000 | date:'MM/dd/yy h:mm a'}}</div>
            </div>
            <div class="info-card-line-cell" *ngIf="isPhase">
                <div class="label">Phase ID</div>
                <div (click)="onCopyText(phaseId)" class="value--cursor" [matTooltipClass]="'tool-tip'"
                    matTooltip={{phaseId}}>{{ phaseId |
                    middleEllipsis }} <fa-icon [icon]="faCopy"></fa-icon>
                </div>
            </div>
        </div>
        <div class="info-card-line" *ngIf="!isPhase">
            <div class="info-card-line-cell">
                <div class="label">Owner address</div>
                <div (click)="onCopyText(owner)" class="value--cursor" [matTooltipClass]="'tool-tip'"
                    matTooltip={{owner}}>{{ owner | middleEllipsis
                    }} <fa-icon [icon]="faCopy"></fa-icon>
                </div>
            </div>
            <div class="info-card-line-cell">
                <div class="label" *ngIf="!isPhase">Project ID</div>
                <div (click)="onCopyText(projectId)" class="value--cursor" [matTooltipClass]="'tool-tip'"
                    matTooltip={{projectId}}>{{ projectId | middleEllipsis}} <fa-icon [icon]="faCopy"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="voting-container">
        <div class="title-line">
            <div class="subtitle-container">
                <div class="subtitle text-glow-white">Votes</div>
            </div>
            <div class="voting-status-container">
                <div class="blinker-dot" *ngIf="showVotingDot && status === 0"></div>
                <div class="voting-status-text">
                    {{ votingStatusText }}
                </div>
            </div>
        </div>
        <div class="voting-info-container">
            <app-vote-breakdown-card [yesVotes]="yesVotes" [noVotes]="noVotes" [totalVotes]="totalVotes" [proposalStatus]="status">
            </app-vote-breakdown-card>
        </div>
        <div class="vote-table-container">
            <div class="divider"></div>
            <div class="toggle-votes" (click)="onToggleVotesPressed()">
                <div *ngIf="!showVotes">Show votes</div>
                <div *ngIf="showVotes">Hide votes</div>
                <fa-icon class="caret-down" [icon]="faChevronDown" [class.caret-down--rotate]="showVotes">
                </fa-icon>
            </div>
            <div class="table-container" [class.table-container--visible]="showVotes">
                <table mat-table [dataSource]="dataSource" fixedLayout="true" class="mat-elevation-z0">
                    <ng-container matColumnDef="pillar">
                        <th mat-header-cell *matHeaderCellDef>Pillar</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.pillarName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="vote">
                        <th mat-header-cell *matHeaderCellDef>Vote</th>
                        <td mat-cell *matCellDef="let row">
                            <div class="vote-cell">
                                <div [innerHTML]="row.voteIconHex | twemoji"></div>
                                <div>{{row.vote}}</div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="timestamp">
                        <th mat-header-cell *matHeaderCellDef>Timestamp</th>
                        <td mat-cell *matCellDef="let row"> {{row.timestamp * 1000 | date: 'MM/dd/yy h:mm a'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [routerLink]="['/pillars', row.pillarName]">
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>