@use "../../../assets/variables.scss";

.card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, variables.$primary-grey, #1e1e1e, variables.$primary-grey);
    border-radius: variables.$radius-l;
    width: 900px;
    filter: drop-shadow(0 0 0.1em #0000001c);
    overflow: hidden;
    border: 1px solid variables.$border-green;

    .basic-info {
        display: flex;
        justify-content: space-between;
        padding: variables.$spacing-xl;
        margin-top: variables.$spacing-s;
        gap: variables.$spacing-xl;
        flex-direction: column;

        .title-container {
            display: flex;
            justify-content: space-between;
            gap: variables.$spacing-xl;

            .card-title {
                font-weight: bold;
                font-size: variables.$font-xl;
            }

            .info-chips {
                display: flex;

                .phase-chip {
                    margin-right: variables.$spacing-m;
                }
            }
        }

        .description {
            font-size: variables.$font-s;
            line-height: 1.8em;
        }
    }

    .status-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: variables.$spacing-xl;
        padding: variables.$spacing-m 0 variables.$spacing-m 0;
        margin-left: variables.$spacing-xl;
        margin-right: variables.$spacing-xl;
        background: linear-gradient(45deg, #6d48bf, #4e3577);
        border-radius: variables.$radius-s;
        filter: drop-shadow(0 0 0.8em #00000040);
        margin-bottom: variables.$spacing-l;

        .label-container {
            display: flex;
            margin-left: variables.$spacing-l;
            gap: variables.$spacing-m;

            div:first-child {
                width: 1em;
                height: 1em;
                align-self: flex-end;
            }

            div:last-child {
                font-size: variables.$font-xs;
                font-weight: bold;
            }
        }

        .action-btn {
            display: flex;
            align-items: center;
            gap: variables.$spacing-s;
            margin-right: variables.$spacing-l;

            div:first-child {
                font-size: variables.$font-xs;
                font-weight: bold;
            }

            fa-icon {
                margin-top: 0.1em;
            }

            &:hover {
                cursor: pointer;
                gap: variables.$spacing-m;
            }
        }
    }

    .info-card {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-xl;
        padding: variables.$spacing-l 0 variables.$spacing-l 0;
        margin-left: variables.$spacing-xl;
        margin-right: variables.$spacing-xl;
        background-color: variables.$tertiary-grey;
        border-radius: variables.$radius-s;
        justify-content: center;
        filter: drop-shadow(0 0 0.8em #00000040);
        border: 1px solid variables.$border-green;

        .info-card-line {
            display: flex;
            justify-content: space-between;
            gap: 4em;
            margin-left: variables.$spacing-l;
            margin-right: variables.$spacing-l;

            .info-card-line-cell {
                display: flex;
                justify-content: space-between;
                gap: variables.$spacing-s;
                width: 50%;

                .label {
                    color: variables.$white-70;
                    font-size: variables.$font-xs;
                }

                .value {
                    font-size: variables.$font-xs;
                    font-weight: bold;
                    text-align: right;
                    a {
                        font-size: inherit;
                        font-weight: inherit;
                    }

                    &--cursor {
                        @extend .value;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .voting-container {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-l;
        margin-top: variables.$spacing-m;

        .title-line {
            display: flex;
            justify-content: space-between;
            padding: variables.$spacing-l variables.$spacing-xl 0 variables.$spacing-xl;

            .subtitle-container {
                display: flex;
                align-items: center;

                .subtitle {
                    font-weight: bold;
                    font-size: variables.$font-l;
                }
            }

            .voting-status-container {
                display: flex;
                align-items: center;

                .blinker-dot {
                    width: 0.5em;
                    height: 0.5em;
                    border-radius: 50%;
                    background-color: #9B6EFF;

                    animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
                    margin-right: variables.$spacing-s;

                    @keyframes blinker {
                        from {
                            opacity: 1;
                        }
                        to {
                            opacity: 0;
                        }
                    }
                }

                .voting-status-text {
                    color: variables.$white-70;
                    font-size: variables.$font-s;
                }
            }
        }

        .voting-info-container {
            padding: 0 variables.$spacing-xl 0 variables.$spacing-xl;
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: variables.$border-green;
        }

        .vote-table-container {
            display: flex;
            flex-direction: column;

            .toggle-votes {
                display: flex;
                gap: variables.$spacing-s;
                justify-content: center;
                opacity: 0.7;
                font-size: variables.$font-s;
                padding-top: variables.$spacing-l;
                padding-bottom: variables.$spacing-l;
                background-color: variables.$secondary-grey;

                .caret-down {
                    &--rotate {
                        @extend .caret-down;
                        transform: rotate(180deg);
                    }
                }

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    background-color: variables.$input-hover;
                }
            }

            .table-container {
                display: none;

                &--visible {
                    @extend .table-container;
                    display: flex;
                }
            }
        }
    }
}

.mat-table {
    min-width: 900px;
    max-width: 900px;
    border-radius: 0;
    border: 0px;
}

.mat-column-pillar {
    padding-right: 10em !important;
    padding-left: calc(4em - 24px) !important;
}

.mat-column-vote {
    padding-right: 10em !important;
}

.mat-column-timestamp {
    padding-right: 4em !important;
}

.mat-row {
    &:hover {
        cursor: pointer;
    }
}

.vote-cell {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    gap: variables.$spacing-s;
    display: flex;

    div:last-child {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    div:first-child {
        width: variables.$spacing-m;
        height: variables.$spacing-m;
        align-self: center;
    }
}

@media only screen and (max-width: 950px) {
    .card {
        width: calc(99.5vw - 2em);
        margin-left: 1em;
        margin-right: 1em;

        .basic-info {
            padding: variables.$spacing-l;
            gap: variables.$spacing-l;

            .title-container {
                flex-direction: column;
                gap: variables.$spacing-l;

                .card-title {
                    font-size: variables.$font-l;
                }
            }

            .description {
                font-size: variables.$font-xs;
            }
        }

        .status-card {
            margin-left: variables.$spacing-l;
            margin-right: variables.$spacing-l;

            .action-btn {
                div:first-child {
                    display: none;
                }
            }
        }

        .info-card {
            gap: variables.$spacing-l;
            padding: variables.$spacing-m 0 variables.$spacing-m 0;
            margin-left: variables.$spacing-l;
            margin-right: variables.$spacing-l;
            flex-direction: column;

            .info-card-line {
                gap: variables.$spacing-l;

                flex-direction: column;

                .info-card-line-cell {
                    width: 100%;
                }
            }
        }

        .voting-container {
            margin-top: variables.$spacing-s;

            .title-line {
                padding: variables.$spacing-l variables.$spacing-l 0 variables.$spacing-l;

                .subtitle-container {
                    .subtitle {
                        font-weight: bold;
                        font-size: variables.$font-m;
                    }
                }

                .voting-status-container {
                    .voting-status-text {
                        font-size: variables.$font-xs;
                    }
                }
            }

            .voting-info-container {
                padding: 0 variables.$spacing-l 0 variables.$spacing-l;
            }

            .vote-table-container {
                .table-container {
                    overflow-x: auto;
                    width: calc(100vw - 2em);
                }
            }
        }
    }

    .mat-table {
        min-width: 600px;
        max-width: 600px;
    }

    .mat-column-pillar {
        padding-right: 2em !important;
        padding-left: variables.$spacing-l !important;
    }

    .mat-column-vote {
        padding-right: 2em !important;
    }

    .mat-column-timestamp {
        padding-right: 2em !important;
    }
}
