<div class="root">
    <div class="page-title text-glow-white">Account details</div>
    <div class="container">
        <app-basic-container class="basic-info-card">
            <div class="address-header">
                <div class="address-container">
                    <div class="card-title">
                        <div class="desktop-address">{{address}}</div>
                        <div class="mobile-address">{{address | middleEllipsis}}</div>
                        <fa-icon class="fa-sm" [icon]="faCopy" (click)="onCopyAddress(address)"></fa-icon>
                    </div>
                    <div *ngIf="smartContractLabel" class="subtitle">{{smartContractLabel}}</div>
                </div>
                <div class="action-items"></div>
            </div>
            <div class="info-container">
                <app-loader class="loader" *ngIf="isLoading"></app-loader>
                <app-info-card [infoItems]="[
                    {label: 'ZNN balance', value: ((((addressDetails?.znnBalance ?? 0) / coinDecimals) | number: '1.0-8') ?? '0') + ' ZNN'},
                    {label: 'QSR balance', value: ((((addressDetails?.qsrBalance ?? 0) / coinDecimals) | number: '1.0-8') ?? '0') + ' QSR'},
                    {label: 'USD value', value: '$' + (usdValue | number: '1.0-2'), toolTipText: 'QSR price assumed to be 1/10th of ZNN price.'},
                    {label: 'Fused Plasma', value: (((addressDetails?.fusedQsr ?? 0) / coinDecimals | number: '1.0-8') ?? '0') + ' QSR'},
                    {label: 'Account chain height', value: addressDetails?.height?.toString()},
                    {label: 'Public key', value: ((addressDetails?.publicKey ?? '') == '' ? '-' : (addressDetails?.publicKey ?? '-')) | middleEllipsis, fullValue: addressDetails?.publicKey, hoverText: addressDetails?.publicKey, isCopyable: (addressDetails?.publicKey ?? '') != ''},
                    ]">
                </app-info-card>
            </div>
        </app-basic-container>
        <app-participation-card *ngIf="hasParticipationDetails" [participationDetails]="participationDetails">
        </app-participation-card>
        <app-account-details-table class="table" [address]="address"></app-account-details-table>
    </div>
</div>