@use "../../../../assets/variables.scss";
@use "../../../../assets/styles/components.scss";

.basic-card {
    width: variables.$content-width-basic;

    .title-container {
        padding: variables.$spacing-l variables.$spacing-xl variables.$spacing-l variables.$spacing-xl;
    }

    .graphs {
        display: flex;
        gap: variables.$spacing-l;
        margin-left: variables.$spacing-xl;
        margin-right: variables.$spacing-xl;
        margin-bottom: variables.$spacing-l;

        app-reward-share-graph-card {
            flex: 1;
        }
    }

    .mat-table {
        min-width: variables.$content-width-basic;
        max-width: variables.$content-width-basic;
        border-radius: 0;
        border: 0px;
    }

    .mat-column-momentumRewardShare {
        max-width: 200px;
        padding-left: variables.$spacing-xl;
    }

    .mat-column-delegateRewardShare {
        max-width: 200px;
    }

    .mat-column-timestamp {
        max-width: 200px;
    }

    .reward-share-cell {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        gap: variables.$spacing-s;
        display: flex;
        width: 10rem;

        div:last-child {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
        }

        div:first-child {
            width: variables.$spacing-m;
            height: variables.$spacing-m;
            align-self: center;
        }
    }

    .page-selector {
        margin-left: variables.$spacing-xl;
        margin-right: variables.$spacing-xl;
    }
}

.loader {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    align-self: center;
}

@media only screen and (max-width: variables.$screen-width-threshold) {
    .basic-card {
        width: calc(99.5vw - 2rem);

        .title-container {
            padding: variables.$spacing-l;
        }

        .graphs {
            flex-direction: column;
            gap: variables.$spacing-m;
            margin-left: variables.$spacing-l;
            margin-right: variables.$spacing-l;
    
            app-reward-share-graph-card {
                flex: 1;
            }
        }
    }

    .page-selector {
        margin-left: variables.$spacing-l;
        margin-right: variables.$spacing-l;
    }

    .mat-table {
        min-width: 100% !important;
    }

    .mat-column-momentumRewardShare {
        padding-right: 2rem !important;
        max-width: none !important;
        padding-left: calc(3.4rem - 24px) !important;
    }

    .mat-column-delegateRewardShare {
        padding-right: 2rem !important;
        max-width: none !important;
    }

    .mat-column-timestamp {
        padding-right: 2rem !important;
        max-width: none;
    }
}
