<div class="footer">
    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/zenon_tools">
        <img src="../../../assets/vectors/twitter_logo.svg" alt="Twitter logo">
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/zenon-tools">
        <img src="../../../assets/vectors/github_logo.svg" alt="Github logo">
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://t.me/vilkris">
        <img src="../../../assets/vectors/telegram_logo.svg" alt="Telegram logo">
    </a>
</div>