@use "../../../../assets/variables.scss";
@use "../../../../assets/styles/components.scss";

.card {
    .title-container {
        display: flex;
        align-items: center;
        padding: variables.$spacing-m variables.$spacing-xl variables.$spacing-m variables.$spacing-xl;

        .dropdown {
            display: none;
            width: 100%;
        }

        .tab-selector {
            width: 100%;
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: variables.$screen-width-threshold) {
    .card {
        width: calc(99.5vw - 2rem);

        .title-container {
            display: flex;
            align-items: center;
            padding: variables.$spacing-m variables.$spacing-l variables.$spacing-m variables.$spacing-l;

            .dropdown {
                display: unset;
            }

            .tab-selector {
                display: none;
            }
        }
    }
}
