@use "../../../../assets/variables.scss";

.container {
    display: flex;
    height: 2.6em;
    border-radius: variables.$radius-s;
    align-items: stretch;
    background-color:  variables.$tertiary-grey;
    text-align: center;
}

.tab {
    display: flex;
    border-radius: inherit;
    background-color: #354f2e00;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: variables.$font-s;
    font-weight: bold;
    transition: variables.$animation-duration variables.$animation-curve;
    filter: drop-shadow(0 0 0.3em #00000040);
    color: variables.$white-70;

    &--selected {
        @extend .tab;
        background-color: variables.$secondary-green;
        color: white;
    }

    &:hover {
        cursor: pointer;
    }

    &:not(.no-hover):hover {
        cursor: pointer;
        color: white;
        background-color: variables.$input-hover;
        filter: none;
    }
}
