<div class="container">
    <div *ngIf="!isEnabled" class="waiting-text">Waiting for a market <fa-icon [icon]="faCircleInfo"
            [matTooltipClass]="'tool-tip'"
            matTooltip="There is no market for QSR yet. This is placeholder for now.">
        </fa-icon>
    </div>
    <div class="card" [class.card--translucent]="!isEnabled">
        <div class="header">
            <div class="value-label-wrapper">
                <div class="value-delta-wrapper">
                    <div class="value text-glow-white">{{valuePrefix}}{{valueToDisplay$ | async | number:
                        valueNumberPipe}}
                    </div>
                    <div *ngIf="!(isChartHoveredSubject | async)" class="delta"
                        [ngClass]="(delta >= 0) ? 'green' : 'red'">{{delta >= 0 ? '+' + (delta |
                        number: '1.2-2') : (delta | number: '1.2-2')}}%
                    </div>
                    <div *ngIf="(isChartHoveredSubject | async)" class="date">{{date | date: "shortDate" }}</div>
                </div>
                <div class="label">{{label}}</div>
            </div>
            <div class="dropdown-container">
                <div class="label">7D</div>
            </div>
        </div>
        <app-line-chart class="line-chart" [gradientStartColor]="gradientStartColor"
            [gradientEndColor]="gradientEndColor" [chartSeries]="chartSeries"
            (isHovered$)="handleIsChartHovered($event)" (hoveredValue$)="handleValueChanged($event)">
        </app-line-chart>
    </div>

</div>