<div class="container">
    <div class="content">
        <div class="table-container" [class.table-container--loading]="isLoading"
            [class.table-container--hidden]="!hasItems">
            <table mat-table [dataSource]="dataSource" fixedLayout="true" class="mat-elevation-z0">
                <ng-container matColumnDef="from">
                    <th mat-header-cell *matHeaderCellDef>From</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="from-to-cell" [routerLink]="['/accounts', row.fromAddress]"
                            [matTooltipClass]="'tool-tip'" matTooltip="{{row.fromAddress}}">{{row.fromLabel |
                            middleEllipsis: 28}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="to">
                    <th mat-header-cell *matHeaderCellDef>To</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="from-to-cell" [routerLink]="['/accounts', row.toAddress]"
                            [matTooltipClass]="'tool-tip'" matTooltip="{{row.toAddress}}">{{row.toLabel |
                            middleEllipsis: 28}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="method">
                    <th mat-header-cell *matHeaderCellDef>Method</th>
                    <td mat-cell *matCellDef="let row"> {{row.method}}</td>
                </ng-container>

                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef>Value</th>
                    <td mat-cell *matCellDef="let row">{{row.value | number: '1.0-8'}} {{row.value ? row.symbol : ''}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef>Timestamp</th>
                    <td mat-cell *matCellDef="let row"> {{row.timestamp * 1000 | date:'MM/dd/yy hh:mm:ss a'}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>
        <app-loader class="loader" *ngIf="isLoading"></app-loader>
        <div class="empty-text" *ngIf="!isLoading && !hasItems">Nothing to show.</div>
    </div>
    <app-divider *ngIf="hasItems"></app-divider>
    <app-page-selector class="page-selector" *ngIf="hasItems || activePage > 1" [hidePreviousBtn]="activePage === 1"
        [hideNextBtn]="dataSource.data.length < itemsPerPage" (selectNext)="onNextSelected()"
        (selectPrevious)="onPreviousSelected()">
    </app-page-selector>
</div>