@use "../../../assets/variables.scss";

:host {
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: variables.$spacing-l;
    padding-bottom: variables.$spacing-xxl;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    gap: variables.$spacing-xxl;

    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}

.pillar-info-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, variables.$primary-grey, #1e1e1e, variables.$primary-grey);
    border-radius: variables.$radius-l;
    width: 900px;
    filter: drop-shadow(0 0 0.1em #0000001c);
    overflow: hidden;
    border: 1px solid variables.$border-green;

    .header {
        display: flex;
        justify-content: space-between;
        padding: calc(variables.$spacing-xl + variables.$spacing-s) variables.$spacing-xl variables.$spacing-m
            variables.$spacing-xl;
        background-image: url("../../../assets/images/pillar_profile_bg.png");
        background-size: cover;

        .pillar-avatar {
            margin: 0;
            width: 4.5em;
            height: 4.5em;
            filter: drop-shadow(0 0 0.8em #00000040);
        }

        fa-icon {
            opacity: 0.7;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }

        .menu {
            position: absolute;
            margin-right: variables.$spacing-m;
            // NOTE: Use hardcoded pixel value because of Safari
            margin-left: 695px;
            padding: variables.$spacing-m variables.$spacing-m variables.$spacing-m variables.$spacing-m;
            background-color: #555555;
            border-radius: variables.$radius-s;
            font-size: variables.$font-xs;
            visibility: hidden;
            opacity: 0;

            &:hover {
                cursor: pointer;
                background-color: #686868;
            }

            &--open {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .pillar-info-container {
        display: flex;
        justify-content: space-between;
        padding: variables.$spacing-xs variables.$spacing-xl calc(variables.$spacing-xl + variables.$spacing-s)
            variables.$spacing-xl;
        gap: variables.$spacing-xl;
        flex-direction: column;

        .name-and-social-links {
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;

            .pillar-name {
                font-size: variables.$font-xl;
                font-weight: bold;
            }

            .social-links {
                white-space: nowrap;

                img {
                    opacity: 70%;
                    height: 1em;
                    padding-left: 0.75em;
                }

                img:hover {
                    opacity: 100%;
                }
            }
        }

        .description {
            font-size: variables.$font-s;
            line-height: 1.8em;
            white-space: pre-line;
        }

        .additional-info {
            display: flex;
            flex-direction: column;
            gap: variables.$spacing-l;

            .delegation-apr-card {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: variables.$spacing-s;
                flex: 1;
                padding: variables.$spacing-l;

                :first-child {
                    display: flex;
                    gap: variables.$spacing-l;
                    align-items: center;

                    :first-child {
                        font-size: variables.$font-xl;
                        text-align: center;
                        font-weight: bold;
                    }
                    :nth-child(2) {
                        font-size: variables.$font-xs;
                        color: variables.$white-70;
                        text-align: center;
                    }
                }

                .apr-btn {
                    padding: variables.$spacing-m variables.$spacing-l variables.$spacing-m variables.$spacing-l;
                    font-size: variables.$font-xs;
                    font-weight: bold;
                    color: white;
                    background-color: variables.$secondary-green;
                    border-radius: variables.$radius-s;
                    filter: drop-shadow(0 0 0.8em #00000040);

                    &:hover {
                        cursor: pointer;
                        background-color: variables.$secondary-green-hover;
                    }
                }
            }
        }
    }
}

.info-card {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-xl;
    padding: variables.$spacing-l 0 variables.$spacing-l 0;
    background-color: variables.$tertiary-grey;
    border-radius: variables.$radius-s;
    justify-content: center;
    filter: drop-shadow(0 0 0.8em #00000040);
    border: 1px solid variables.$border-green;

    .info-card-line {
        display: flex;
        justify-content: space-between;
        gap: 4em;
        margin-left: variables.$spacing-l;
        margin-right: variables.$spacing-l;

        .info-card-line-cell {
            display: flex;
            justify-content: space-between;
            gap: variables.$spacing-s;
            width: 50%;

            .label {
                color: variables.$white-70;
                font-size: variables.$font-xs;

                fa-icon {
                    opacity: 0.7;
                }
            }

            .value {
                font-size: variables.$font-xs;
                font-weight: bold;
                text-align: right;
                white-space: nowrap;

                a {
                    font-size: inherit;
                    font-weight: inherit;
                }

                &--cursor {
                    @extend .value;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .icon-container {
                display: flex;
                align-items: center;
                .icon {
                    height: variables.$font-m;
                    width: variables.$font-m;
                    padding-right: variables.$spacing-s;
                }
            }
        }
    }
}

.loader-container {
    height: 10em;

    .loader {
        top: 78%;
    }
}

@media only screen and (max-width: 950px) {
    .container {
        padding-bottom: variables.$spacing-xxl;
        padding-left: 1em;
        padding-right: 1em;
        align-items: center;
        gap: variables.$spacing-xl;
    }

    .pillar-info-card {
        align-items: center;
        width: calc(99.5vw - 2em);

        .header {
            display: flex;
            padding: variables.$spacing-l variables.$spacing-l variables.$spacing-xs variables.$spacing-l;
            width: 100%;
            justify-content: center;

            fa-icon {
                position: absolute;
                margin-right: variables.$spacing-m;
                right: 0;
            }

            .menu {
                // NOTE: Use this because of Safari
                margin-left: calc(100% - 15em);
            }
        }

        .pillar-info-container {
            align-items: center;
            padding: variables.$spacing-l;
            gap: variables.$spacing-l;

            .name-and-social-links {
                flex-direction: column;
                gap: variables.$spacing-s;

                .pillar-name {
                    font-size: variables.$font-l;
                }

                .social-links {
                    padding-right: 0.75em;
                }
            }

            .description {
                font-size: variables.$font-xs;
                text-align: center;
            }
        }

        .additional-info {
            align-items: center;
            width: 100%;

            .delegation-apr-card {
                flex: 1;
                flex-direction: column !important;
                gap: variables.$spacing-m !important;
                padding: variables.$spacing-m 0 variables.$spacing-m 0 !important;

                :first-child {
                    flex-direction: column;
                    gap: variables.$spacing-s !important;
                }

                .apr-btn {
                    display: none;
                }
            }
        }
    }

    .info-card {
        width: 100%;
        gap: variables.$spacing-l;
        padding: variables.$spacing-m 0 variables.$spacing-m 0;
        margin-left: variables.$spacing-l;
        margin-right: variables.$spacing-l;
        flex-direction: column;

        .info-card-line {
            gap: variables.$spacing-l;
            flex-direction: column;

            .info-card-line-cell {
                width: 100%;
            }
        }
    }
}
