<div class="container">
    <div class="pillar-info-container">
        <img class="pillar-avatar" *ngIf="pillarOffChainInfo?.avatar" [src]="pillarOffChainInfo?.avatar">
        <div class="name-and-social-links">
            <div class="pillar-name text-glow-white">{{ pillarName }}</div>
            <div class="social-links" *ngIf="hasSocialLinks">
                <a target="_blank" rel="noopener noreferrer" href={{pillarOffChainInfo?.links?.telegram}}
                    *ngIf="pillarOffChainInfo?.links?.telegram">
                    <img src="../../../assets/vectors/telegram_logo.svg" alt="Telegram logo">
                </a>
                <a target="_blank" rel="noopener noreferrer" href={{pillarOffChainInfo?.links?.twitter}}
                    *ngIf="pillarOffChainInfo?.links?.twitter">
                    <img src="../../../assets/vectors/twitter_logo.svg" alt="Twitter logo">
                </a>
                <a target="_blank" rel="noopener noreferrer" href={{pillarOffChainInfo?.links?.website}}
                    *ngIf="pillarOffChainInfo?.links?.website">
                    <img src="../../../assets/vectors/globe.svg" alt="Globe icon">
                </a>
                <a target="_blank" rel="noopener noreferrer" href={{pillarOffChainInfo?.links?.github}}
                    *ngIf="pillarOffChainInfo?.links?.github">
                    <img src="../../../assets/vectors/github_logo.svg" alt="Github logo">
                </a>
                <a target="_blank" rel="noopener noreferrer" href={{pillarOffChainInfo?.links?.medium}}
                    *ngIf="pillarOffChainInfo?.links?.medium">
                    <img src="../../../assets/vectors/medium_logo.svg" alt="Medium logo">
                </a>
            </div>
        </div>
    </div>
    <app-pillar-reward-share-table [pillarName]="pillarName"></app-pillar-reward-share-table>
    <app-pillar-voting-table [pillarName]="pillarName"></app-pillar-voting-table>
</div>