@use "../../../assets/variables.scss";

:host {
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: variables.$spacing-l;
    padding-bottom: variables.$spacing-xl;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    gap: variables.$spacing-xl;

    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}

.pillar-info-container {
    display: flex;
    width: 900px - 48px;
    gap: variables.$spacing-m;
    align-items: center;
    background: linear-gradient(90deg, variables.$primary-grey, #1e1e1e, variables.$primary-grey);
    border-radius: variables.$radius-l;
    filter: drop-shadow(0 0.8em 0.3em #0000000f);
    padding: 24px;
    gap: variables.$spacing-s;
    border: 1px solid variables.$border-green;

    .name-and-social-links {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;

        .pillar-name {
            font-size: variables.$font-xl;
            font-weight: bold;
        }

        .social-links {
            white-space: nowrap;

            img {
                opacity: 70%;
                height: 1em;
                padding-right: 0.75em;
            }

            img:hover {
                opacity: 100%;
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    .container {
        padding-bottom: variables.$spacing-xxl;
        padding-left: 1em;
        padding-right: 1em;
        align-items: flex-start;
    }

    .pillar-info-container {
        width: 100%;
        .pillar-name {
            font-size: variables.$font-l !important;
        }
    }

    .pillar-info-container {
        width: calc(100% - 48px);
        gap: variables.$spacing-m;
        align-items: center;
        background: linear-gradient(90deg, #1f1f1f, variables.$secondary-grey, #1f1f1f);
        border-radius: variables.$radius-l;
        filter: drop-shadow(0 0.8em 0.3em #0000001c);
        padding: 24px;
        gap: variables.$spacing-s;

        .name-and-social-links {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: flex-start;
            gap: variables.$spacing-s;

            .pillar-name {
                font-size: variables.$font-xl;
                font-weight: bold;
            }

            .social-links {
                white-space: nowrap;

                img {
                    opacity: 70%;
                    height: 1em;
                    padding-right: 0.75em;
                }

                img:hover {
                    opacity: 100%;
                }
            }
        }
    }
}
