<div class="container">
    <app-context-container [gap]="'0'">
        <div class="primary-content">
            <div class="left-container">
                <img src="{{iconPath}}" alt="APR icon">
                <div class="type-and-collateral">
                    <div class="type">{{label}}</div>
                    <div class="collateral">
                        <div>{{detailLeft}}</div>
                        <div *ngIf="detailRight">|</div>
                        <div>{{detailRight}}</div>
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="apr">{{apr}}</div>
                <div class="more" [class.more--rotate]="showDetails">
                    <fa-icon [icon]="faChevronDown" (click)="onShowDetailsPressed()">
                    </fa-icon>
                </div>
            </div>
        </div>
        <div class="details-content" [class.details-content--visible]="showDetails">
            <app-divider></app-divider>
            <app-info-line-cell *ngIf="apr" class="apr-line-mobile" [item]="{label: 'APR', value: apr}">
            </app-info-line-cell>
            <app-info-item-table [infoItems]="infoItems">
            </app-info-item-table>
        </div>
    </app-context-container>
</div>