<div class="container">
    <div class="card">
        <div class="content">
            <div class="text-container text-container-swap">
                <div class="header-container">
                    <div class="title-container">
                        <fa-icon [icon]="faArrowRightArrowLeft"></fa-icon>
                        <div class="card-title">Swap wZNN</div>
                    </div>
                    <a class="pcs-link" target="_blank" rel="noopener noreferrer" href="{{ pcsUrl }}"> Trade on
                        PancakeSwap
                        <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                    </a>
                </div>
                <div class="card-text swap-text">Connect your Web3 wallet and swap wZNN using the Rubic cross-chain swap
                    widget.
                    wZNN is on
                    Binance Smart
                    Chain so be sure to add Binance Smart Chain to your Web3 wallet if you haven't already (add BSC to
                    MetaMask). wZNN can be
                    bridged to
                    native ZNN and vice versa.</div>
            </div>
        </div>
        <iframe src="assets/html/rubic-widget.html" title="Rubic widget"></iframe>
    </div>
    <div class="card">
        <div class="content">
            <div class="text-container">
                <div class="title-container">
                    <fa-icon [icon]="faWallet"></fa-icon>
                    <div class="card-title">Get the official wallet</div>
                </div>
                <div class="card-text">Set up <b>s y r i u s</b> wallet, bridge your wZNN to native ZNN and start
                    participating
                    in
                    Network of Momentum. The wallet is currently available for Windows and macOS.</div>
            </div>
            <a class="button" target="_blank" rel="noopener noreferrer" style="text-decoration: none;"
                href="https://github.com/zenon-network/syrius/releases">
                Get wallet <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="text-container">
                <div class="title-container">
                    <fa-icon [icon]="faBridgeWater"></fa-icon>
                    <div class="card-title">Use the official bridge</div>
                </div>
                <div class="card-text">Swap between wZNN and native ZNN. Please note that the bridge is experimental and
                    may
                    experience downtime every now and then. All transactions will eventually be processed even if the
                    bridge is
                    momentarily down. Visit the <a target="_blank" rel="noopener noreferrer"
                        href="https://t.me/zenonnetwork">Zenon Telegram channel</a> for the
                    latest status.</div>
            </div>
            <a class="button" target="_blank" rel="noopener noreferrer" style="text-decoration: none;"
                href="https://bridge.zenon.network">
                Use bridge <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="text-container">
                <div class="title-container">
                    <fa-icon [icon]="faBolt"></fa-icon>
                    <div class="card-title">Get some Plasma</div>
                </div>
                <div class="card-text">Supercharge your Zenon address with Plasma to speed up your
                    transactions.
                    Use the community run Telegram bot for some free Plasma (start the bot by typing in
                    <i>/start</i>).
                </div>
            </div>
            <a class="button" target="_blank" rel="noopener noreferrer" style="text-decoration: none;"
                href="https://t.me/alien_valley_plasma_bot">
                Open Telegram bot <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="text-container">
                <div class="title-container">
                    <fa-icon [icon]="faCalculator"></fa-icon>
                    <div class="card-title">Estimate your rewards</div>
                </div>
                <div class="card-text">Put your ZNN to work and start earning rewards. Use the calculator to
                    estimate
                    your rewards and use <b>s y r i u s</b> wallet to participate in the network.</div>
            </div>
            <a class="button" routerLink="../calculator">Go to calculator</a>
        </div>
    </div>
</div>