@use "../../../../assets/variables.scss";
@use "../../../../assets/styles/components.scss";

:host {
    flex: 1;
}

.container {
    display: flex;
    padding-top: variables.$spacing-xl + 0.25rem;
    padding-bottom: variables.$spacing-xl;
    justify-content: center;

    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }

    .pillars {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: variables.$content-width-basic;
        filter: drop-shadow(0 0.8rem 0.3rem #0000001c);
        padding-bottom: variables.$spacing-l;

        .title-line {
            display: flex;
            align-items: center;
            gap: variables.$spacing-m;

            .title {
                font-size: variables.$font-xl;
                font-weight: bold;
            }

            fa-icon {
                opacity: 0.7;
            }
        }

        .table-card {
            margin-top: variables.$spacing-xl;
            align-items: center;
            justify-content: center;

            .table-container {
                .mat-table {
                    min-width: variables.$content-width-basic;
                    max-width: variables.$content-width-basic;
                    border-radius: 0;
                    border: 0px;

                    .mat-row {
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .address-cell {
                        color: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                        display: flex;
                        flex-direction: column;
                        gap: variables.$spacing-xs;

                        div:first-child {
                            color: inherit;
                            font-size: inherit;
                            font-weight: inherit;
                        }

                        .info-text {
                            font-size: variables.$font-xs;
                            font-weight: normal;
                            color: variables.$white-50;
                        }
                    }
                }
            }
        }
    }
}

.timer-container {
    height: 1.7rem;
}

.timer {
    display: flex;
    align-items: baseline;
    padding-left: 24px;
    text-align: start;

    div:first-child {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: variables.$primary-green;

        animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
        margin-right: variables.$spacing-s;
    }

    div:last-child {
        color: variables.$white-70;
        font-size: variables.$font-xs;
        height: 1rem;
    }
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.mat-column-rank {
    padding-right: 1.5rem !important;
}

.mat-column-name {
    padding-right: 3rem !important;

    .default-avatar {
        opacity: 0.5;
        width: 2.7em;
        height: 2.7em;
        object-fit: contain;
        background-color: black;
        border-radius: variables.$radius-s;
        margin-right: variables.$spacing-m;
    }
}

.mat-column-weight {
    padding-right: 2.5rem !important;
}

.mat-column-momentums {
    padding-right: 2rem !important;
}

.mat-column-rewardSharing {
    padding-right: 2.5rem !important;
}

.mat-column-delegateApr {
    padding-right: 2.5rem !important;
}

.mat-column-votingActivity {
    padding-right: 1rem !important;
}

.mat-column-dailyMomentumAvg {
    padding-right: 1rem !important;
}

.column-info-icon {
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

.sort-header {
    display: flex;
    align-items: center;
    gap: variables.$spacing-xs;
    font-weight: inherit;

    div {
        font-weight: inherit;
    }
}

::ng-deep .mat-sort-header-content {
    font-weight: bold;
    color: white;
}

.name-cell {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    display: flex;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        color: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;

        :first-child {
            color: inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
        }

        .zt {
            color: inherit !important;
            font-size: variables.$font-xs !important;
            font-weight: 400 !important;
        }
    }
}

.pillar-avatar {
    &:hover {
        z-index: 2;
        transform: scale(3);
    }
}

.momentum-info-cell {
    display: flex;
    align-items: center;
    gap: variables.$spacing-s;
    height: inherit;
}

.delegate-apr-cell {
    display: flex;
    align-items: center;
    gap: variables.$spacing-s;
    height: inherit;

    .calculator-icon {
        opacity: 0;
        &:hover {
            cursor: pointer;
            opacity: 1 !important;
        }
    }
}

.mat-row:nth-child(odd) {
    &:hover {
        cursor: pointer;
    }

    &:hover .calculator-icon {
        opacity: 0.7;
    }
}

.mat-row:nth-child(even) {
    &:hover {
        cursor: pointer;
    }

    &:hover .calculator-icon {
        opacity: 0.7;
    }
}

.social-links {
    white-space: nowrap;
    img {
        opacity: 70%;
        height: 1em;
        padding-right: 0.75em;
    }

    img:hover {
        opacity: 100%;
    }
}

@media only screen and (max-width: variables.$screen-width-threshold) {
    .container {
        padding-bottom: variables.$spacing-xxl;
        padding-left: 1em;
        padding-right: 1em;
        justify-content: unset;
    }

    .table-container {
        width: calc(99.5vw - 2rem);
    }

    .table-card {
        margin-top: variables.$spacing-l !important;
    }

    .delegate-apr-cell {
        .calculator-icon {
            display: none;
        }
    }

    .mat-column-rank,
    .mat-column-name {
        padding-right: 1em !important;
    }
}
