@use "../../../assets/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, variables.$primary-grey, #1e1e1e, variables.$primary-grey);
    border-radius: variables.$radius-l;
    justify-content: center;
    filter: drop-shadow(0 0 0.1em #0000001c);
    border: 1px solid variables.$border-green;
}

.hover-background {
    background-color: transparent;
    padding: variables.$spacing-l;
    border: 1px solid transparent;
    border-radius: inherit;

    &:hover {
        cursor: pointer;
        background-color: variables.$input-hover-dark;
    }
}

.primary-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-items {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-s;

        .title-container {
            display: flex;
            flex-direction: column;

            .title-line {
                display: flex;
                gap: variables.$spacing-s;

                .title {
                    font-size: variables.$font-s;
                    font-weight: bold;
                }

                fa-icon {
                    opacity: 0.7;

                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }

        .additional-info {
            display: flex;
            gap: variables.$spacing-s;

            .requested-funds {
                font-size: variables.$font-xs;
                color: variables.$white-70;
            }

            .text-divider {
                font-size: variables.$font-xs;
                color: variables.$white-70;
            }

            .voting-status {
                font-size: variables.$font-xs;
                color: variables.$white-70;
            }
        }
    }

    .info-chips {
        display: flex;

        .phase-chip {
            margin-right: variables.$spacing-m;
        }

        .chip-container {
            display: flex;
            padding: variables.$spacing-s variables.$font-m variables.$spacing-s variables.$font-m;
            background: linear-gradient(45deg, #6d48bf, #4e3577);
            border-radius: variables.$radius-l;
            filter: drop-shadow(0 0 0.4em #00000021);

            div:first-child {
                font-size: variables.$font-xs;
                font-weight: bold;
            }
        }
    }
}

.voting-info-container {
    margin-top: variables.$spacing-l;
}

@media only screen and (max-width: 950px) {
    .voting-info-container {
        margin-top: variables.$spacing-m;
    }

    .primary-info {
        flex-direction: column;
        gap: variables.$spacing-m;

        .info-items {
            align-items: center;
            text-align: center;
        }
    }
}
