<div class="basic-card">
    <div class="hover-background">
        <div class="primary-info">
            <div class="info-items">
                <div class="header">
                    <div class="title-line">
                        <div class="title">{{ title }}</div>
                        <a (click)="onLinkPressed($event)" class="open-link-icon" target="_blank"
                            rel="noopener noreferrer" href="{{ formattedUrl }}">
                            <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                        </a>
                    </div>
                </div>
                <div class="additional-info">
                    <div class="requested-funds">{{(proposal.znnFundsNeeded / coinDecimals) | number: '1.0'}} ZNN +
                        {{(proposal.qsrFundsNeeded / coinDecimals) | number: '1.0'}} QSR</div>
                    <div class="text-divider">|</div>
                    <div class="voting-status">{{ votingStatusText }}</div>
                </div>
            </div>
            <div class="info-chips">
                <app-project-status-chip *ngIf="isNew" [isNew]="true">
                </app-project-status-chip>
                <app-project-status-chip *ngIf="proposal.phaseName.length > 0" [isPhase]="true">
                </app-project-status-chip>
                <app-project-status-chip [status]="proposal.status">
                </app-project-status-chip>
            </div>
        </div>
        <div *ngIf="proposal.status === 0" class="voting-info-container">
            <app-vote-breakdown-card [yesVotes]="proposal.yesVotes" [noVotes]="proposal.noVotes"
                [totalVotes]="proposal.totalVotes" [proposalStatus]="proposal.status"></app-vote-breakdown-card>
        </div>
    </div>
</div>