@use "../../../assets/variables.scss";
@use "../../../assets/styles/components.scss";


.hover-background {
    background-color: transparent;
    padding: variables.$spacing-l;
    border: 1px solid transparent;
    border-radius: inherit;

    &:hover {
        cursor: pointer;
        background-color: variables.$input-hover-dark;
    }
}

.primary-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-items {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-s;

        .header {
            display: flex;
            flex-direction: column;

            .title-line {
                display: flex;
                gap: variables.$spacing-s;

                .title {
                    font-size: variables.$font-s;
                    font-weight: bold;
                }

                fa-icon {
                    opacity: 0.7;

                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }

        .additional-info {
            display: flex;
            gap: variables.$spacing-s;

            .requested-funds {
                font-size: variables.$font-xs;
                color: variables.$white-70;
            }

            .text-divider {
                font-size: variables.$font-xs;
                color: variables.$white-70;
            }

            .voting-status {
                font-size: variables.$font-xs;
                color: variables.$white-70;
            }
        }
    }

    .info-chips {
        display: flex;
        gap: variables.$spacing-m;
    }
}

.voting-info-container {
    margin-top: variables.$spacing-l;
}

@media only screen and (max-width: variables.$screen-width-threshold) {
    .voting-info-container {
        margin-top: variables.$spacing-m;
    }

    .primary-info {
        flex-direction: column;
        gap: variables.$spacing-m;

        .info-items {
            align-items: center;
            text-align: center;
        }

        .info-chips {
            gap: variables.$spacing-s;
        }
    }
}
