@use "../../../assets/variables.scss";

.chart-container {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

.chart {
    border-radius: 0 0 variables.$radius-l variables.$radius-l;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    border: 0;

    &--no-round-borders {
        @extend .chart;
        border-radius: 0;
    }
}