@use "../../../../assets/variables.scss";

.info-items {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-xl;

    .info-line {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        margin-left: variables.$spacing-l;
        margin-right: variables.$spacing-l;

        .cell {
            flex: 1;
        }
    }
}

@media only screen and (max-width: variables.$screen-width-threshold) {
    .info-items {
        gap: variables.$spacing-l;

        .info-line {
            gap: variables.$spacing-l;
            flex-direction: column;
        }
    }
}
