<div class="container">
    <div class="proposals">
        <div class="title-line">
            <div class="title text-glow-white">Projects</div>
            <fa-icon [icon]="faCircleInfo" [matTooltipClass]="'tool-tip'"
                matTooltip="Accelerator-Z is the on-chain funding framework for Network of Momentum where anyone can apply for funding.">
            </fa-icon>
            <app-search-bar class="search-bar" (search)="onSearch($event)" (clear)="onClearSearch()"></app-search-bar>
        </div>
        <app-search-bar class="mobile-search-bar" (search)="onSearch($event)" (clear)="onClearSearch()">
        </app-search-bar>
        <div class="content">
            <app-proposal-card [class.hidden]="isLoading" *ngFor="let proposal of proposals$ | async;"
                [proposal]="proposal" (click)="onProjectPressed(proposal.projectId, proposal.phaseName.length > 0)">
            </app-proposal-card>
        </div>
        <div class="end-text" *ngIf="!isLoading && ((proposals$ | async)?.length ?? 0) < 10">
            {{ endText }}
        </div>
        <app-page-selector class="page-selector" [hidePreviousBtn]="activePage === 1"
            [hideNextBtn]="((proposals$ | async)?.length ?? 0) < 10" (selectNext)="onNextSelected()"
            (selectPrevious)="onPreviousSelected()">
        </app-page-selector>
    </div>
</div>
<app-loader class="loader" *ngIf="isLoading"></app-loader>