@use "../../../assets/variables.scss";

:host {
    flex: 1;
}

.container {
    display: flex;
    padding-top: variables.$spacing-l;
    padding-bottom: variables.$spacing-xl;
    padding-left: 2em;
    padding-right: 2em;

    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}

.mat-table {
    min-width: 1200px;
}

.timer-container {
    height: 1.7em;
}

.timer {
    display: flex;
    align-items: flex-end;
    padding-left: 24px;
    text-align: start;

    div:first-child {
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        background-color: variables.$primary-green;

        animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
        margin-right: variables.$spacing-s;
    }

    div:last-child {
        color: variables.$white-70;
        font-size: variables.$font-xs;
        height: 1em;
    }
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.mat-column-rank {
    padding-right: 4em !important;
}

.mat-column-name {
    padding-right: 7em !important;
}

::ng-deep .mat-sort-header-content {
    font-size: variables.$font-m;
    font-weight: bold;
    color: white;
}

.name-cell {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    display: flex;
    align-items: center;
}

.pillar-avatar {
    &:hover {
        transform: scale(3);
    }
}

.momentum-info-cell {
    display: flex;
    align-items: center;
    gap: variables.$spacing-s;
    height: inherit;
}

.delegate-apr-cell {
    display: flex;
    align-items: center;
    gap: variables.$spacing-s;
    height: inherit;

    .calculator-icon {
        opacity: 0;
        &:hover {
            cursor: pointer;
            opacity: 1 !important;
        }
    }
}

.mat-row:nth-child(odd) {
    &:hover {
        cursor: pointer;
    }

    &:hover .calculator-icon {
        opacity: 0.7;
      }
}

.mat-row:nth-child(even) {
    &:hover {
        cursor: pointer;
    }

    &:hover .calculator-icon {
        opacity: 0.7;
    }
}

.social-links {
    white-space: nowrap;
    img {
        opacity: 70%;
        height: 1em;
        padding-right: 0.75em;
    }

    img:hover {
        opacity: 100%;
    }
}

@media only screen and (max-width: 1600px) {
    .mat-column-rank {
        padding-right: 3em !important;
    }

    .mat-column-name {
        padding-right: 5em !important;
    }

    .mat-header-cell {
        padding-right: 4em;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding-bottom: variables.$spacing-xxl;
        padding-left: 1em;
        padding-right: 1em;
    }

    .mat-column-rank {
        padding-right: 2em !important;
    }

    .mat-column-name {
        padding-right: 4em !important;
    }

    .mat-header-cell {
        padding-right: 3em;
    }

    .delegate-apr-cell {
        .calculator-icon {
            display: none;
        }
    }
}
