<div class="container">
    <app-basic-container class="card">
        <div class="header">
            <div>
                <img class="pillar-avatar" *ngIf="pillarOffChainInfo?.avatar" [src]="pillarOffChainInfo?.avatar">
                <img class="pillar-avatar" *ngIf="!pillarOffChainInfo?.avatar"
                    src="../../../assets/images/default_pillar_avatar.png">
            </div>
            <fa-icon class="menu-icon fa-lg" [icon]="faEllipsisH" (click)="onMenuSelected()"></fa-icon>
            <div class="menu" [class.menu--open]="isMenuOpen" (click)="onManageProfileSelected()">
                Manage Pillar profile
            </div>
        </div>
        <div class="pillar-info-container">
            <div class="name-and-social-links">
                <div class="pillar-name text-glow-white">{{ pillarName }}</div>
                <div class="social-links" *ngIf="hasSocialLinks">
                    <a target="_blank" rel="noopener noreferrer" href={{pillarOffChainInfo?.links?.telegram}}
                        *ngIf="pillarOffChainInfo?.links?.telegram">
                        <img src="../../../assets/vectors/telegram_logo.svg" alt="Telegram logo">
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href={{pillarOffChainInfo?.links?.twitter}}
                        *ngIf="pillarOffChainInfo?.links?.twitter">
                        <img src="../../../assets/vectors/twitter_logo.svg" alt="Twitter logo">
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href={{pillarOffChainInfo?.links?.website}}
                        *ngIf="pillarOffChainInfo?.links?.website">
                        <img src="../../../assets/vectors/globe.svg" alt="Globe icon">
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href={{pillarOffChainInfo?.links?.github}}
                        *ngIf="pillarOffChainInfo?.links?.github">
                        <img src="../../../assets/vectors/github_logo.svg" alt="Github logo">
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href={{pillarOffChainInfo?.links?.medium}}
                        *ngIf="pillarOffChainInfo?.links?.medium">
                        <img src="../../../assets/vectors/medium_logo.svg" alt="Medium logo">
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href="mailto:{{pillarOffChainInfo?.links?.email}}"
                        *ngIf="pillarOffChainInfo?.links?.email">
                        <img src="../../../assets/vectors/email.svg" alt="Email icon">
                    </a>
                </div>
            </div>
            <div class="description" *ngIf="pillarDescription">{{pillarDescription}}</div>
            <div class="additional-info">
                <app-context-container>
                    <div class="delegation-apr-card">
                        <div>
                            <div class="text-glow-white">{{pillar?.delegateApr | number: '1.2-2'}}%</div>
                            <div>Delegation APR</div>
                        </div>
                        <div class="apr-btn" (click)="onCalculatorSelected(pillarProfile?.ownerAddress ?? '')">
                            Estimate your rewards
                        </div>
                    </div>
                </app-context-container>

                <div class="loader-container" *ngIf="isLoading">
                    <app-loader class="loader"></app-loader>
                </div>

                <app-info-card *ngIf="!isLoading" class="info-card" [infoItems]="[
                    {label: 'Produced/target momentums', value: pillar?.producedMomentums +  ' / ' + pillar?.expectedMomentums, toolTipText: 'The ratio of produced vs. target momentums during the current epoch. Missing momentums will negatively affect the rewards earned by the Pillar.'},
                    {label: 'Weight', value: ((pillar?.weight ?? 0) / coinDecimals | number: '1.0-0') + ' ZNN', toolTipText: 'The amount of ZNN delegated to the Pillar.'},
                    {label: 'Rank', value: ((pillar?.rank ?? 0) + 1).toString(), toolTipText: 'The Pillar\'s rank based on its weight.'},
                    {label: 'Slot cost', value: ((((pillarProfile?.slotCostQsr ?? -1) == 0 ? 150000 * coinDecimals :
                                                (pillarProfile?.slotCostQsr ?? -1) == -1 ? 0 :
                                                (pillarProfile?.slotCostQsr ?? 0))
                                                / coinDecimals | number: '1.0-0') ?? '') + ' QSR', toolTipText: 'The amount of QSR the Pillar had to burn to spawn the Pillar.', emoji: '1F525'},
                    {label: 'Spawned on', value: (pillarProfile?.spawnTimestamp ?? -1) == 0 ? 'Genesis' :
                                                (pillarProfile?.spawnTimestamp ?? -1) == -1 ? '' :
                                                ((pillarProfile?.spawnTimestamp ?? 0) * 1000 | date:'MM/dd/yy h:mm a') ?? ''},
                    {label: 'Owner address', value: pillarProfile?.ownerAddress ?? '' | middleEllipsis, fullValue: pillarProfile?.ownerAddress, hoverText: pillarProfile?.ownerAddress, routerLink: ['/accounts', pillarProfile?.ownerAddress ?? '']},
                    {label: 'Producer address', value: pillarProfile?.producerAddress ?? '' | middleEllipsis, fullValue: pillarProfile?.producerAddress, hoverText: pillarProfile?.producerAddress, routerLink: ['/accounts', pillarProfile?.producerAddress ?? '']},
                    {label: 'Withdraw address', value: pillarProfile?.withdrawAddress ?? '' | middleEllipsis, fullValue: pillarProfile?.withdrawAddress, hoverText: pillarProfile?.withdrawAddress, routerLink: ['/accounts', pillarProfile?.withdrawAddress ?? '']},
                    ]">
                </app-info-card>
            </div>
        </div>
    </app-basic-container>
    <app-pillar-reward-share-table [pillarName]="pillarName"
        [currentMomentumRewardShare]="pillar?.giveMomentumRewardPercentage ?? 0"
        [currentDelegateRewardShare]="pillar?.giveDelegateRewardPercentage ?? 0">
    </app-pillar-reward-share-table>
    <app-pillar-voting-table [pillarName]="pillarName"></app-pillar-voting-table>
    <app-pillar-delegator-table [pillarName]="pillarName" [totalWeight]="pillar?.weight ?? 1"
        [ownerAddress]="pillarProfile?.ownerAddress ?? ''" [withdrawAddress]="pillarProfile?.withdrawAddress ?? ''">
    </app-pillar-delegator-table>
</div>