<div class="container">
    <div class="content">
        <div class="table-container" *ngIf="hasItems" [class.table-container--loading]="isLoading"
            [class.table-container--hidden]="!hasItems">
            <table mat-table [dataSource]="dataSource" fixedLayout="true" class="mat-elevation-z0">
                <ng-container matColumnDef="proposal">
                    <th mat-header-cell *matHeaderCellDef>Proposal</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="proposal-cell">
                            <div class="phase-text" *ngIf="row.phaseName">{{row.phaseName.length > 40 ?
                                row.phaseName.slice(0,
                                40) + '...' : row.phaseName}}</div>
                            <div class="project-text" [class.project-text--is-phase]="row.phaseName">
                                {{row.projectName.length >
                                40 ? row.projectName.slice(0, 40) + '...' : row.projectName}}</div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef>Created</th>
                    <td mat-cell *matCellDef="let row">{{row.creationTimestamp * 1000 | date:'MM/dd/yy h:mm a'}}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let row"> {{row.status}}</td>
                </ng-container>

                <ng-container matColumnDef="projectId">
                    <th mat-header-cell *matHeaderCellDef>Project ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.projectId | middleEllipsis}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowPressed(row.projectId)">
                </tr>
            </table>
        </div>
        <app-loader class="loader" *ngIf="isLoading"></app-loader>
        <div class="empty-text" *ngIf="!isLoading && !hasItems">Nothing to show.</div>
    </div>
    <app-divider *ngIf="hasItems"></app-divider>
    <app-page-selector class="page-selector" *ngIf="hasItems || activePage > 1" [hidePreviousBtn]="activePage === 1"
        [hideNextBtn]="dataSource.data.length < itemsPerPage" (selectNext)="onNextSelected()"
        (selectPrevious)="onPreviousSelected()">
    </app-page-selector>
</div>