@use "../../../../assets/variables.scss";
@use "../../../../assets/styles/components.scss";

.basic-card {
    width: variables.$content-width-basic;

    .mobile-search-bar {
        display: none;
    }

    .empty-loader {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        align-self: center;
    }

    .mat-table {
        min-width: variables.$content-width-basic;
        max-width: variables.$content-width-basic;
        border-radius: 0;
        border: 0px;
    }

    .mat-column-proposal {
        max-width: 200px;
        padding-left: variables.$spacing-xl;
    }

    .mat-column-vote {
        max-width: 200px;
    }

    .mat-column-timestamp {
        max-width: 200px;
    }

    .mat-column-url {
        max-width: 0px;
        max-width: 0px;
    }

    .mat-row {
        &:hover {
            cursor: pointer;
        }
    }

    .proposal-cell {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-xs;

        div {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
        }

        .project-text {
            font-size: variables.$font-s;
            &--is-phase {
                @extend .project-text;
                font-size: variables.$font-xs;
                font-weight: normal;
                color: variables.$white-50;
            }
        }
    }

    .vote-cell {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        gap: variables.$spacing-s;
        display: flex;

        div:last-child {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
        }

        div:first-child {
            width: variables.$spacing-m;
            height: variables.$spacing-m;
            align-self: center;
        }
    }

    .open-link-icon {
        opacity: 70%;
        height: 1em;
        padding-right: 0.75em;

        &:hover {
            opacity: 100%;
        }
    }

    .page-selector {
        margin-left: variables.$spacing-xl;
        margin-right: variables.$spacing-xl;
    }
}

@media only screen and (max-width: variables.$screen-width-threshold) {
    .basic-card {
        width: calc(99.5vw - 2rem);

        .title-container {
            height: 0;
            min-height: 1.4em;
            padding: variables.$spacing-l variables.$spacing-l variables.$spacing-m variables.$spacing-l;

            .search-bar {
                display: none;
            }
        }

        .mobile-search-bar {
            display: inline;
            margin: 0 variables.$spacing-l variables.$spacing-m variables.$spacing-l;
        }

        .page-selector {
            margin-left: variables.$spacing-l;
            margin-right: variables.$spacing-l;
        }

        .mat-table {
            min-width: 100%;
            max-width: 100%;
        }

        .mat-column-proposal {
            padding-right: 2em !important;
            max-width: none;
            padding-left: calc(3.4em - 24px) !important;
        }

        .mat-column-vote {
            padding-right: 2em !important;
            max-width: none;
        }

        .mat-column-timestamp {
            padding-right: 2em !important;
            max-width: none;
        }

        .mat-column-url {
            padding-right: 2em !important;
            max-width: none;
        }
    }
}
