@use "../../../../assets/variables.scss";

.info-line-cell {
    display: flex;
    justify-content: space-between;
    gap: variables.$spacing-s;

    .label {
        color: variables.$white-70;
        font-size: variables.$font-xs;

        fa-icon {
            opacity: 0.7;
        }
    }

    .value {
        display: flex;
        font-size: variables.$font-xs;
        font-weight: bold;
        text-align: right;
        white-space: nowrap;
        align-items: center;

        a {
            font-size: inherit;
            font-weight: inherit;
        }

        .emoji {
            height: variables.$font-m;
            width: variables.$font-m;
            padding-right: variables.$spacing-s;
        }

        &--cursor {
            @extend .value;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .icon-container {
        display: flex;
        align-items: center;
        .icon {
            height: variables.$font-m;
            width: variables.$font-m;
            padding-right: variables.$spacing-s;
        }
    }
}

@media only screen and (max-width: variables.$screen-width-threshold) {
    .info-line-cell {
        width: 100%;
        gap: variables.$spacing-s !important;
    }
}
