// Colors
$primary-green: #6CEF4B;
$secondary-green: #3F6036;
$secondary-green-hover: #3F6036B3;
$green-gradient-start: #2F6922;
$green-gradient-end: #81FF62;
$white-70: #FFFFFFB3;
$white-50: #FFFFFF80;
$white-30: #FFFFFF4D;
$white-10: #FFFFFF1A;
$background-grey: #151515;
$primary-grey: #212121;
$secondary-grey: #1B1B1B;
$tertiary-grey: #292929;
$primary-red: #FF4B4B;
$primary-blue: #706AFF;
$input-hover: #353535;
$input-hover-dark: #292929;
$border-green: #E5FFE814;

// Font sizes
$font-xxxl: 1.875em; // 30px
$font-xxl: 1.75em; // 28px
$font-xl: 1.5em; // 24px
$font-l: 1.125em; // 18px
$font-m: 1em; // 16px
$font-s: .875em; // 14px
$font-xs: .75em; // 12px

// Spacing
$spacing-xxl: 3em;
$spacing-xl: 2em;
$spacing-l: 1.5em;
$spacing-m: 1em;
$spacing-s: 0.5em;
$spacing-xs: 0.25em;
$spacing-screen-xl: 18em;
$spacing-screen-l: 6.5em;
$spacing-screen-m: 4em;
$spacing-screen-s: 1em;

// Radius
$radius-xl: 2em;
$radius-l: 1.5em;
$radius-m: 1em;
$radius-s: 0.5em;

// Animation
$animation-duration: 200ms;
$animation-curve: ease-in-out;