@use "../variables.scss";


// Tables
.title-container {
    display: flex;
    align-items: center;
    gap: variables.$spacing-m;
    padding: variables.$spacing-m variables.$spacing-xl variables.$spacing-m variables.$spacing-xl;

    .title-icon {
        height: 1.2rem;
        width: 1.2rem;
    }

    .title {
        font-weight: bold;
        font-size: variables.$font-l;
    }

    .search-bar {
        margin-left: auto;
        width: 20rem;
    }
}

.table-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
        top: unset;
        left: unset;
        transform: unset;
    }
}

.table-container {
    &--hidden {
        display: none;
    }

    &--loading {
        opacity: 0;
    }
}

.table-empty-text {
    font-size: variables.$font-s;
    color: variables.$white-70;
    margin: variables.$spacing-xxl;
    text-align: center;
}

// Mobile screen
@media only screen and (max-width: variables.$screen-width-threshold) {
    .table-container {
        overflow-x: auto;
        width: 100%;
    }
}
