@use "../../../assets/variables.scss";

:host {
    flex: 1;
}

.container {
    display: flex;
    padding-top: variables.$spacing-l;
    padding-bottom: variables.$spacing-xl;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: variables.$spacing-xl;
        width: 1000px;

        .title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: variables.$spacing-m;
            text-align: center;

            .title {
                font-size: variables.$font-xl;
                font-weight: bold;
            }

            .description {
                font-size: variables.$font-s;
                line-height: 1.6rem;
            }
        }

        .goal-card-container {
            background: linear-gradient(90deg, variables.$primary-grey, #1e1e1e, variables.$primary-grey);
            border-radius: variables.$radius-m;
            filter: drop-shadow(0 0 0.8em #00000040);
            border: 1px solid variables.$border-green;
            width: 100%;

            .goal-card {
                display: flex;
                flex-direction: column;
                gap: variables.$spacing-m;
                padding: variables.$spacing-l variables.$spacing-l variables.$spacing-l variables.$spacing-l;
                justify-content: center;

                .labels {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    div {
                        font-size: variables.$font-xs;
                        font-weight: bold;
                    }
                }
            }
        }

        .bar-container {
            display: flex;
            height: 0.3em;
            width: 100%;

            .bar {
                border-radius: variables.$radius-s;
                background-color: #585858;
            }
        }
    }

    .donation-cards {
        display: flex;
        gap: variables.$spacing-m;
        width: 100%;

        .donation-card {
            background: linear-gradient(90deg, variables.$primary-grey, #1e1e1e, variables.$primary-grey);
            border-radius: variables.$radius-m;
            filter: drop-shadow(0 0 0.8em #00000040);
            border: 1px solid variables.$border-green;
            padding: variables.$spacing-l variables.$spacing-m variables.$spacing-l variables.$spacing-m;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            gap: variables.$spacing-m;

            .label {
                font-weight: bold;
                font-size: variables.$font-m;
                padding: 0 variables.$spacing-s 0 variables.$spacing-s;
                text-align: center;
            }

            .description {
                font-size: variables.$font-xs;
                color: variables.$white-70;
                text-align: center;
                line-height: 1.6rem;
            }

            img {
                border-radius: variables.$radius-m;
                height: 5em;
                margin-top: variables.$spacing-m;
                margin-bottom: variables.$spacing-m;
                border: 1px solid variables.$border-green;
                filter: drop-shadow(0 0 1.8em #ffffff12);
            }

            .button {
                width: 60%;
            }
        }
    }

    .contributor-table {
        width: 100%;
    }
}

@media only screen and (max-width: 1050px) {
    .container {
        padding-bottom: 5em;
        margin-left: variables.$spacing-m;
        margin-right: variables.$spacing-m;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: variables.$spacing-xl;
            width: 100%;

            .title-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: variables.$spacing-m;
                text-align: center;

                .title {
                    font-size: variables.$font-xl;
                    font-weight: bold;
                }

                .description {
                    font-size: variables.$font-s;
                    line-height: 1.6rem;
                }
            }
        }

        .donation-cards {
            display: flex;
            flex-direction: column;
            gap: variables.$spacing-l;
            width: 100%;

            .donation-card {
                img {
                    margin-top: variables.$spacing-s;
                }
            }
        }
    }
}
