@use "../../../assets/variables.scss";

.card {
    display: flex;
    gap: variables.$spacing-m;
    padding: variables.$spacing-l;
    background-color: variables.$tertiary-grey;
    border-radius: variables.$radius-s;
    justify-content: center;
    filter: drop-shadow(0 0 0.8em #00000040);
    border: 1px solid variables.$border-green;
    transition: 0s;
}

.values {
    display: flex;
    justify-content: space-between;
    flex: 10;

    .value-label-wrapper {
        display: flex;
        flex-direction: column;
        gap: variables.$spacing-s;
        justify-content: center;

        .value-date-wrapper {
            display: flex;
            gap: variables.$spacing-m;
            align-items: center;

            .value {
                font-weight: bold;
                font-size: variables.$font-l;
            }

            .date {
                font-size: variables.$font-s;
                color: variables.$white-70;
            }
        }

        .label {
            font-size: variables.$font-xs;
            color: variables.$white-70;
            white-space: nowrap;
        }
    }
}

.line-chart {
    flex: 9;
    height: 3em;
    align-self: center;
}

@media only screen and (max-width: 950px) {
    .values {
        flex: 4;
        .value-label-wrapper {
            .label {
                white-space: normal;
            }
        }
    }

    .line-chart {
        flex: 3;
    }
}
